* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
}

html, body {
  height: 95vh;
  background-color: #184188;
  font-size: 20px;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.main-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}

.main-nav li {
  color: #fff;
  margin-left: 60px;

}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 4px 0px;
  color: #fff;
  text-decoration: none;
  font-size: 100%;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ab4725;
}


/* background-image: linear-gradient(to bottom right, #0575e6, #021b79); */
  /* background-image: linear-gradient(to top left, #141e30, #243b55); */
  /* background-image: linear-gradient(to bottom right, #606c88, #3f4c6b); */
  /* background-image: linear-gradient(to bottom right, #4b6cb7, #182848); */
