* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  font-family: 'Cardo', serif;
}

/* HEADER SECTION */

/* Navbar */
.navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 0 20px;
}

a {
  color: #a4b5c6;
}

.logo {
  color: #a4b5c6;
  display: grid;
  justify-content: start;
  align-content: center;
  font-size: 15px;
}

.links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 30px;
}

a {
  text-decoration: none;
}

/* Header */
header {
  grid-area: h;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/hero3.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1, a {
  margin: auto;
}

.hero-text {
  display: grid;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 4em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
  align-items: center;
  grid-template-areas:
  "l . . . ."
  ". t . . ."
  ". . g . ."
  ". . . o ."
  ". . . . m";
}

.long,
.term,
.goal,
.of,
.mastery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.long {
  grid-area: l;
}

.term {
  grid-area: t;
}

.goal {
  grid-area: g;
}

.of {
  grid-area: o;
}

.mastery {
  grid-area: m;
}


/* ABOUT - PROJECTS SECTION */

.about-projects {
  grid-area: a;
  margin-bottom: 25px;
}

.about-text {
  grid-area: b;
}

.item1 {
  grid-area: i;
  background-color: #479761;
}

.item2 {
  grid-area: j;
  background-color: #cebc81;
}

.item3 {
  grid-area: k;
  background-color: #a16e83;
}

.about-projects-items {
  display: grid;
  color: rgb(54, 52, 52);
  font-size: 2em;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 200px);
  align-items: center;
  grid-template-areas:
  ". h h h h h . i i i i . ."
  ". h h h h h . j j j j . ."
  ". h h h h h . k k k k . .";
}

.about-text {
  grid-area: h;
  font-size: 1.5rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  line-height: 2rem;
}

.item1, .item2, .item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
}

.item__title a {
  color: rgb(54, 52, 52);
}

/* FOOTER SECTION */

.footer {
  grid-area: f;
  font-size: 2em;
}

.social {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 70px;
  grid-template-areas:
  ". . . . t . . l . . . ."
  ". . . . e e e e . . . .";
}

.twitter {
  grid-area: t;
}
.linkedin {
  grid-area: l;
}
.email {
  grid-area: e;
  font-size: 1rem;
}

 /* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .about-projects-items {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 300px);
    align-items: center;
    grid-template-areas:
    ". h ."
    ". i ."
    ". j ."
    ". k .";
  }

  .container {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    font-weight: bold;
    font-size: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "a a a a a a a a a a a a"
      "a a a a a a a a a a a a"
      "a a a a a a a a a a a a"
      "a a a a a a a a a a a a"
      "f f f f f f f f f f f f";
  }

  .about-text {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 690px) {
  .about-projects-items {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, 300px);
    align-items: center;
    grid-template-areas:
    ". h ."
    ". i ."
    ". j ."
    ". k .";
  }

  .social {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px 70px;
    grid-template-areas:
    ". . . . t . . l . . . ."
    ". . . e e e e e e . . .";
  }

  .about-text {
    font-size: .9rem;
    line-height: 2rem;
  }
}

